# Виртуальное окружение
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# База данных
*.db
*.sqlite
*.sqlite3

# Переменные окружения
.env

# Alembic (версии миграций храним, но не кэш)
alembic/__pycache__/
alembic/versions/__pycache__/

# Логи
*.log

# Редакторы
.vscode/
.idea/
*.swp
.DS_Store

# Тесты
.pytest_cache/
.coverage
htmlcov/